*{
    text-align:center;
}
.text-light{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.bg-img{
    background-image: url("https://images.pexels.com/photos/2541310/pexels-photo-2541310.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding:50vh;
}

